<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <p>{{section.content.form.title}}</p>
            <!-- Contact Form - Enter your email address on line 19 of the mail/contact_me.php file to make this form work. -->
            <!-- WARNING: Some web hosts do not allow emails to be sent through forms to common mail hosts like Gmail or Yahoo. It's recommended that you use a private domain email address! -->
            <!-- To use the contact form, your site must be on a live web host with PHP! The form will not work locally! -->
            <form name="sentMessage" id="contactForm" novalidate>
            {%for item in section.content.form.items%}
                <div class="control-group">
                    <div class="{{item.div_class}}">
                        <label>{{item.label}}</label>
                         {%if item.textarea%}
                        <textarea rows="5" class="form-control" placeholder="{{item.textarea.placeholder}}" id="message" required
                            data-validation-required-message="{{item.textarea.requirement_msg}}"></textarea>
                        {%else%}
                        <input type="{{item.input.type}}" class="form-control" placeholder="{{item.input.placeholder}}" id="{{item.input.id}}" required
                            data-validation-required-message="{{item.input.requirement_msg}}">
                        {%endif%}
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
            {%endfor%}
            
            
                <br>
                <div id="success"></div>
                <button type="submit" class="{{section.content.submit_btn.class}}" id="sendMessageButton">{{section.content.submit_btn.text}}</button>
            </form>
        </div>
    </div>
</div>

<hr>