{%load static%}
<!-- Page Header -->
  <header class="masthead" style="background-image: url('{%static section.content.bg_img%}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="{{section.div_class}}">
          {%if section.posts%}

          {%else%}
            <h1>{{section.heading_text}}</h1>
            <span class="{{section.subheading_class}}">{{section.subheading_text}}</span>
          {%endif%}  
          </div>
        </div>
      </div>
    </div>
  </header>